#game {
    position: relative;
    display: flex;
    gap: 1rem;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(10, min-content);
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
}

#modal {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: cornflowerblue;
    padding: 1rem 4rem;
    border-radius: 1rem;
    border: 3px solid black;
}

#restart-btn{
    font-size: 1rem;
    background-color: bisque;
    border: 1px solid black;
    outline: none;
    border-radius: .3rem;
}

#restart-btn:hover{
    cursor: pointer;
    background-color: antiquewhite;
    outline: none;
}

#restart-btn:active{
    background-color: grey;
}


.game-cell {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.water {
    background-color: cornflowerblue;
}

.missed {
    background-color: grey;
}

.ship-hit {
    background-color: red;
}